
.landing{
    margin:0;
    min-height:100%;
    flex:1 0 auto;
}

.footer{
    margin-top:80vh;
    background-color: rgb(37, 37, 37);
    color:white;
    position:absolute;
    height:20%;
    width:100%;
    clear:both;
    left:0;
}
.foot p{
    font-weight: bold;
}