.profile-wraper{
    text-align: center;
}

.profile-main{
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    padding: 1%;
    border: 1px solid #000000;
    text-align: center;
}

.profile-main img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

