.register-container{
    background-color: white;
    width:40%;
    height:55%;
    display:block;
    position:fixed;
    justify-content: center;
    left:0;
    top:0;
    margin-left:30%;
    border-radius: 2vh;
    margin-right:30%;
    margin-top: 10%;
    box-shadow: 0vh 0vh 1vh 1vh white;
}
.register-container hr{
    width:40%;
}
.register-container label {
    margin-right: -25%;
  }


.user-selection{
    display:flex;
    justify-content:center;
    margin-left:20%;
}


.register-container input{
    width:60%;
    padding:5px;

}
.register-container button:hover{
    cursor:pointer;
}

@media (max-width:736px){
    .register-container{
        width:60%;
        height:50%;
        margin-right:20%;
        margin-left: 20%;
    }
    .register-container input{
        width:60%;
        padding :1px;
    }
    .register-container form{
        font-size:12px;
    }
    .heading{
        font-size:18px
    }
    .user-selection{
        margin-left:23%;
    }
}

@media (min-width:737px){
    .register-container{
        font-size:15px;
    }
    .heading{
        font-size:18px
    }
}
.aa{
    border:none;
}